<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Tiêu đề</label>
    <input type="text" formControlName="title">
  </div>
  <div *ngIf="submitted && rfc.title.errors">
    <div *ngIf="rfc.title.errors.required">Không được để trống tiêu đề</div>
    <div *ngIf="rfc.title.errors.minLength">Độ dài tiếu thiểu 10 ký tự</div>
  </div>
  <div>
    <label>Nội dung</label>
    <textarea cols="30" row="10" type="text" formControlName="body"></textarea>
  </div>
  <div *ngIf="submitted && rfc.body.errors">
    <div *ngIf="rfc.body.errors.required">Không được để trống nội dung</div>
    <div *ngIf="rfc.body.errors.minLength">Độ dài tiếu thiểu 10 ký tự</div>
  </div>
  <button type="submit">Submit</button>
  <button type="reset" (click)="onReset()">Reset</button>
</form>

<table class="ui striped table">
  <thead>
  <tr>
    <th>No.</th>
    <th>Title</th>
    <th colspan="2">Option</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of postList; index as i">
    <td>{{i}}</td>
    <td>
      <a [routerLink]="['/blog', post.id]">Post ID: {{post.id}} - {{post.title}}</a>
    </td>
    <td>
      <a [routerLink]="['/blog', post.id, 'edit']">Edit</a>
    </td>
    <td>
      <button (click)="deletePost(i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>


